*{
    margin:0;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
body{
    background: rgb(131, 164, 207);
}
.title{
    margin-top: 20px;
    font-size: 40px;
    margin-left: 800px; ;
    margin-bottom: 20px;
}
.container{
    margin-left: 300px;
    display:flex;
    gap:150px;
}
.maingrid{
    border: 1px solid black;
    width: 640px;
    height: 640px;
    max-width: 640px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(131, 164, 207);
}
.maingrid>div:hover{
    cursor: pointer;
}
.sidebar{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    
}

